<div *ngIf="loading$ | async; else loaded">
	Loading users...
</div>
<ng-template #loaded>
	<div *ngIf="(loadingError$ | async) as loadingError; else loadingOk">
		{{loadingError}}
	</div>
	<ng-template #loadingOk>
		<ng-container *ngFor="let user of (users$ | async); trackBy: trackUsersByFn">
			<h2>{{ user.data.username }}</h2>
			<div>
				<div>
					<p>{{user.data.name}}</p>
					<p>{{user.data.email}}</p>
					<p>{{user.data.website}}</p>
				</div>
				<form [formGroup]="user.form">
					<label>
						<span>Userame:</span>
						<input type="text" formControlName="username" />
					</label>
					<label>
						<span>Name:</span>
						<input type="text" formControlName="name" />
					</label>
					<label>
						<span>Email:</span>
						<input type="email" formControlName="email" />
					</label>
					<label>
						<span>Website:</span>
						<input type="url" formControlName="website" />
					</label>
					<p>
						<button (click)="deleteUser(user.data.id)">Delete</button>
						<button (click)="updateUser(user)">Update</button>
					</p>
				</form>
			</div>
		</ng-container>
	</ng-template>
</ng-template>
